.carousel{
    position: relative;
    width: 100%;
    max-width: 1240px;
    margin: 0 0 40px 0;
   .swiper-button-prev{
        left: 42px;
        color: #FFBA08;
    }

    .swiper-button-next{
        right: 42px;
        color: #FFBA08;
    }

    .swiper-pagination.swiper-pagination-bullets.swiper-pagination-horizontal{
        .swiper-pagination-bullet{
            width: 16px;
            height: 16px;
            background: #999999;
        }
        .swiper-pagination-bullet-active{
            background: #FFBA08;
        }

        
    }
}

@media  screen and(max-width: 480px) {
    .carousel{
       .swiper-button-prev{
            left: 18px;
            transform: scale(0.3555);
        }
    
        .swiper-button-next{
            right: 18px;
            transform: scale(0.3555);

        }
    
        .swiper-pagination.swiper-pagination-bullets.swiper-pagination-horizontal{
            .swiper-pagination-bullet{
                width: 8px;
                height: 8px;
            }   
        }
    }
       
}
